/* General */
    html{
        background-color: black;
        color: white;
    }
    h1{
        text-align: center;
    }
/* Head */
    #HeaderDiv{
        margin: 1%;
        padding: 0;
        font-size: 1.5em;
    }
    header{
        display: flex;
    }
    #name{
        width: 74%;
    }
    #colourButtons{
        width: 24%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: right;
    }
    #colourButtons > input{
        width: 100%;
        height: 33%;
    }
/* Body */
    /* Navigation */
        #Navigation{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 98%;
            padding: 1em;
            justify-content: center;
            font-size: 1em;
            margin: 0 1% 0 1%;
            padding: 0;
            border: 1px solid lightblue;
        }
        #Navigation > a{
            text-decoration: none;
            padding: 1em 4em 1em 4em;
        }
        #Navigation > a:link, a:visited{
            color: lightblue;
        }
        #Navigation > a:hover{
            color: purple;
        }
    /* Education */
        #Experience{
            margin: 2% 1% 2% 1%;
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1 1;
            grid-gap: 20px;
        }
        img{
            grid-column: 1;
            grid-row: 1;
            border: 1px solid lightblue;
            padding: 1%;
        }
        table{
            grid-row: 1;
            grid-column: 2;
            border: 1px solid lightblue;
            padding: 2%;
        }
        h2 {
            margin: 2%;
            text-align: center;
        }
        h3{
            margin: 1%;
        }

/* foot */
    footer{
        display: flex;
        width: 94%;
        margin: 2% 1% 2% 1%;
        padding: 2%;
        justify-content: center;
        border: 1px solid lightblue;
    }
    label{
        color: lightblue;
    }
    #input{
        margin: 4%;
    }
    #input > input{
        width: 90%;
    }
    #submit{
        margin: 4%;
    }
    #submitButton{
        width: 50%;
    }
    #isCorrect{
        width: 100%;
        padding: 4%;
    }